<div class="clearfix xs-hide sm-hide">
	<div class="inline-block left">
		<a href="{{site.data.buenacaza.redes_sociales.twitter}}" target="_blank" class="inline-block px2 py1 border1header">
			<i class="fab fa-twitter-square twitter"></i>
		</a>
		<a href="{{site.data.buenacaza.redes_sociales.instagram}}" target="_blank" class="inline-block px2 py1 border1header">
			<i class="fab fa-instagram instagram"></i>
		</a>
		<a href="{{site.data.buenacaza.redes_sociales.facebook}}" target="_blank" class="inline-block px2 py1 border1header">
			<i class="fab fa-facebook-square facebook"></i>
		</a>
	</div>
	<div class="right titulo">
		{% unless page.titulo == nil %}
			{{page.titulo}}
		{% endunless %}
	</div>
</div>